<!DOCTYPE html>
%html
  %head
    %title PDF Merger
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
<<<<<<< HEAD
    = yield
=======
    = yield
>>>>>>> ca720d87faf83e9c1b18b24b041c0139877fdcd3
